<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="acc" class="com.advance.Account">
        <property name="accountNumber" value="78989456"/>
        <property name="type" value="Saving"/>
        <property name="ifsc" value="SBIN006"/>
    </bean>

</beans>
    
